
/* Clases para 12 columnas 4 responsiveness ?? ON verrá - de w3schools*/

/* primero me aseguro para todos los elementos que padding&border estén incluidos en
    total width 6 height */

* {
    box-sizing: border-box;
}

* {font-family: 'Montserrat', sans-serif;
}

/* Defino generalidades para todas las clases col- --> all should float left and have 
    a padding of 15px */

[class*="col-"]{
    float:left;
    padding: 15px;
}

/* ahora hay que crear una clase por cada posibilidad de ancho-en-columnas de cada sección
    después de calcular el % de 1 columna*/
    /* PRIMERO SIEMPRE THE SMALLEST --> celular */


/* para celulares */

[class*="col-"]{
    width: 100%;
    }

/* for tablets  y cels*/
@media only screen and (min-width: 600px){
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    }


/* for desktop */
@media only screen and (min-width: 768px){
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}


/* y ahora styling */

section  {
    padding: 15px;
    background-color: #e5e1d8;
    margin-bottom: 5px;
    box-shadow: 0 1px 3px #5b5a5a50;
}
#h-principal, #fotolio {
    display: inline-flex;
}

#fotolio {
    width: 150px;
    height: 121px;
    padding-left: 10px;  
}

 #h-principal  {
    padding: 15px;
    background-color:#039ed7;
    height: 150px;
    margin-bottom: 5px;
    box-shadow: 0 1px 3px #5b5a5a50;
    font-size: 50;
}

#h1-header1 {
    padding-left: 50px;
    padding-inline-start: 0%;
    padding-top: 5px;
    color:#ffffff;
    font-weight: 500;
    font-size: 1.5em;
    letter-spacing: 5px;
    text-shadow:0 1px 1px #5b5a5a60;
}

aside {
    padding: 15px;
    background-color: rgba(48, 45, 45, 0.945);
    margin-bottom: 5px;
    box-shadow: 0 1px 3px #5b5a5a50;   
}


#h1-aside {
    padding: 15px;
    color: antiquewhite;
    font-weight: 400;
    font-size: 15pt;

}
#p-aside{
    padding: 15px;
    color: rgb(215, 208, 219);
    font-weight: 50;
    font-size: 13pt;
    font-weight: 200;
    text-align: justify;
    letter-spacing: 2px;
    text-indent: 50px;
}

#section-perfil{
    padding: 15px;
    background-color: rgb(110, 53, 153);
    margin-bottom: 5px;
    box-shadow: 0 1px 3px #5b5a5a50;

}
#header-perfil{
    padding-top: 50px;
    padding: 15px;
    color: rgb(235, 231, 226);
    font-weight: 400;
    font-size: 15pt;
}
#p-perfil{
    padding: 15px;
    color: rgb(235, 231, 226);
    font-weight: 200;
    font-size: 13pt;
    text-align: justify;
    letter-spacing: 2px;
    text-indent: 50px;
}

#section-emp, #section-otras, #section-educ, #contacto{
    margin-top: 10px;
}

#header_emp{
    padding-top: 1px;
    padding: 15px;
    color: rgba(48, 45, 45, 0.945);
    font-weight: 500;
    font-size: 15pt;
}

#h3_en_sections{
    padding-top: 1px;
    padding: 15px;
    color: rgba(48, 45, 45, 0.945);
    font-weight: 400;
    font-size: 14pt;
}

#p-en_sections{
    padding-top: 1px;
    color: rgba(48, 45, 45, 0.945);
    font-weight: 200;
    font-size: 13pt;
    text-align: justify;
    letter-spacing: 2px;
    text-indent: 10px;

}

#contacto {
    padding-top: 1px;
    padding: 15px;
    background-color: rgba(48, 45, 45, 0.945);
    color: #ffffff;  
}

#header-contacto{
    padding-top: 1px;
    padding: 15px;
    font-weight: 400;
    font-size: 15pt;
    color:#ffffff; 
    letter-spacing: 5px;
}
#form_contacto{
    padding-top: 1px;
    padding: 15px;
    font-weight: 200;
    font-size: 13pt;
    color:#ffffff; 
    letter-spacing: 5px;    
}


input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 1px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: #e5e1d8;
    font-size: 13pt;
    
  }

input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 1px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: #e5e1d8;
    padding-left: 5px;
    font-size: 13pt;
    
  }
#email:after{
    background-color: #e5e1d8;
}
  

textarea {  
    width: 100%;
    padding: 12px;
    padding-right: 12px;
    border: 1px solid #ccc;
    border-radius: 1px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: #e5e1d8;
    height: 120px;
    font-size: 13pt;
    font-weight: 200;
    letter-spacing: 2px;
}

#enviar {
    padding-top: 1px;
    padding: 15px;
    font-weight: 200;
    font-size: 13pt;
    color:rgba(48, 45, 45, 0.945); 
    letter-spacing: 5px;
    cursor: pointer;
}

#enviar:hover{
    background-color:#039ed7 ;
    color: #ffffff;
}

#footer-1{
    padding-top: 1px;
    padding: 15px;
    background-color: #039ed7;
    color:#ffffff;
    display: block;
    height: 100px;
}

#footer-2{
    padding-top: 1px;
    padding: 15px;
    background-color: #039ed7;
    color:#ffffff;
    display: block;
    height: 100px;
}

#p-en-footer{
    padding-top: 1px;
    color: #ffffff;
    font-weight: 200;
    font-size: 13pt;
    text-align: left;
    letter-spacing: 2px;
    text-indent: 50px;
    letter-spacing: 5px;
}
a:link {
    color: #ffffff;
  }

#button-foot{
    bottom: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    
}

#button-foot:hover {
    background-color:rgba(48, 45, 45, 0.945);

}

